<div class="card bg-info mb-3" id="login">
    <h4 class="card-header">Login biblioteca</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Código do Associado</label>
                <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-light">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
            </div>
            <div>
                <a routerLink="/login-func/">Acesso para funcionários</a>
            </div>
        </form>
    </div>
</div>