<div *ngIf="show === false" class="card bg-info mb-3" id="login">
    <h4 class="card-header">Cadastar publicação</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="isbn">ISBN</label>
                <input type="text" formControlName="isbn" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.isbn.errors }" />
                <div *ngIf="submitted && f.isbn.errors" class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <label for="titulo">Título</label>
                <input type="text" formControlName="titulo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.titulo.errors }" />
                <div *ngIf="submitted && f.titulo.errors" class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <label for="autor">Autor</label>
                <input type="text" formControlName="autor" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.autor.errors }" />
                <div *ngIf="submitted && f.autor.errors" class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <label for="editora">Editora</label>
                <input type="text" formControlName="editora" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.editora.errors }" />
                <div *ngIf="submitted && f.editora.errors" class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-light">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Cadastrar
                </button>
            </div>
        </form>
    </div>
</div>

<div *ngIf="show === true" class="card bg-info mb-3" id="login">
    <h4 id="new-card" class="card-header">Publicação cadastrada com sucesso!</h4>
    <div class="card-body">
        <h5>Dados da nova publicação:</h5>
        <ul>
            <li><span>ISBN: {{info.isbn}}</span></li>
            <li><span>Título: {{info.titulo}}</span></li>
            <li><span>Autor: {{info.autor}}</span></li>
            <li><span>Editora: {{info.editora}}</span></li>
        </ul>
        <button (click)="switch_value()" class="btn btn-light">Voltar</button>
    </div>
</div>