<div *ngIf="show === false" class="card bg-success mb-3" id="login">
    <h4 class="card-header">Cadastar exemplar</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="numero">Número</label>
                <input type="text" formControlName="numero" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.numero.errors }" />
                <div *ngIf="submitted && f.numero.errors" class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <label for="isbn">ISBN</label>
                <input type="text" formControlName="isbn" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.isbn.errors }" />
                <div *ngIf="submitted && f.isbn.errors" class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <label for="preco">Preço</label>
                <input type="text" formControlName="preco" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.preco.errors }" />
                <div *ngIf="submitted && f.preco.errors" class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-light">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Cadastrar
                </button>
            </div>
        </form>
    </div>
</div>

<div *ngIf="show === true" class="card bg-success mb-3" id="login">
    <h4 id="new-card" class="card-header">Exemplar cadastrado com sucesso!</h4>
    <div class="card-body">
        <h5>Dados do novo exemplar:</h5>
        <ul>
            <li><span>Número: {{info.numero}}</span></li>
            <li><span>ISBN: {{info.isbn}}</span></li>
            <li><span>Preço: {{info.preco}}</span></li>
        </ul>
        <button (click)="switch_value()" class="btn btn-light">Voltar</button>
    </div>
</div>